html {
  background-color: grey;
}


body{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  
}


.titulot{
  display: flex;
  flex-direction: column;
}

.cronoint{
  display:flex;
  flex-direction: column;
  margin-top: 200px;
}

.dificultades{
   display:flex;
  flex-direction: column;
  margin-top: 200px;
}

table {
  height: 100%;
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 1px solid blue;
}

.iluminado {
  background-color: yellow;
}

#nd{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
